@{
    ViewData["Title"] = "Manage";
}

<div class="row">
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Add breed database</h5>
                <p class="card-text">Sets the database to the dog breed database, if no other database is selected.</p>
                <a asp-action="Add" class="btn btn-primary">Add</a>
                <p class="card-text mt-2 text-danger">@TempData["ErrorAddTable"]</p>
                <p class="card-text mt-2 text-success">@TempData["SuccesAddTable"]</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Delete breed database</h5>
                <p class="card-text">Clears all made changes and the entire breed database</p>
                <a asp-action="Delete" class="btn btn-primary">Delete</a>
                <p class="card-text mt-2 text-danger">@TempData["ErrorDeleteTable"]</p>
                <p class="card-text mt-2 text-success">@TempData["SuccesDeleteTable"]</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Restore breed database</h5>
                <p class="card-text">Deletes the changes made and restores the breed database to its initial state</p>
                <a asp-action="Restore" class="btn btn-primary">Restore</a>
                <p class="card-text mt-2 text-success">@TempData["SuccesRestoreTable"]</p>
            </div>
        </div>
    </div>
</div>