@model List<PawtnerPicker.Models.Domain.Breed>

@{
    ViewBag.Title = "Breeds";
    bool isAdmin = false;
    bool isLogged = !String.IsNullOrWhiteSpace(User.Identity.Name);
    if (isLogged)
    {
       isAdmin = User.IsInRole("Admin");
    }
}

<h1>Breeds</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Breed</th>
        <th>Popularity</th>
        <th>Min height</th>
        <th>Max height</th>
        <th>Min weight</th>
        <th>Max weight</th>
        <th>Min age</th>
        <th>Max age</th>
        <th>Group</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var breed in Model)
    {
        <tr>
            <td>@breed.BreedName</td>
            <td>@breed.Popularity</td>
            <td>@breed.MinHeight</td>
            <td>@breed.MaxHeight</td>
            <td>@Math.Round(breed.MinWeight, 2)</td>
            <td>@Math.Round(breed.MaxWeight, 2)</td>
            <td>@breed.MinExpectancy</td>
            <td>@breed.MaxExpectancy</td>
            <td>@breed.Group</td>
            <td>
                <a class="btn btn-info btn-sm" href="Details/@breed.Id">
                    <i class="bi bi-info-square"></i>
                </a>
            </td>
                @{
                    if (isAdmin)
                    {
                    <td>
                        <a class="btn btn-primary btn-sm" href="Edit/@breed.Id">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    @* small workaround, to be improved *@
                    <td>
                        <form action="Remove" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">
                                <input type="hidden" name="id" value="@breed.Id"/>
                                <i class="bi bi-x-square"></i>
                            </button>
                        </form>
                    </td>
                    }            
            }
        </tr>
    }
    </tbody>
</table>